<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Simulator</a>
  <button class="navbar-toggler" type="button" (click)="toggleNavbar = !toggleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" [ngbCollapse]="!toggleNavbar">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown" ngbDropdown>
        <a class="nav-link dropdown-toggle" id="navbarDropdown" ngbDropdownToggle>
          simulations
        </a>
        <div class="dropdown-menu" ngbDropdownMenu>
          <a class="dropdown-item" href="fourier-series">Fourier Series</a>
          <a class="dropdown-item" href="dijkstra-shortest-path">Dijkstra's Shortest Path</a>
          <a class="dropdown-item" href="prime-numbers">Prime Numbers</a>
          <a class="dropdown-item" href="prims-mst">Prims MST</a>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
